// Application de styles globaux

* {
  font-family: monospace;
  padding: 0;
  margin: 0;
}

hr {
  border: none;
  border-top: lightgray 5px dashed;
  margin: 10px 0;
}

html {
  width: 100%;
  height: 100%;
  @include animated_gradient_background(5s, #1abc9c, #3498db, #9b59b6);
}
